/*body {*/
  /*font-size: 180px*/
/*}*/
.a{
  text-decoration: none;
  color: #4E2727;
  /**设置所有的链接class=a没有下划线 */
}
.shenpibeizhu{
  /*审批中备注红色字体*/
  font-size: 15px;
  color: #FC3729;
}
.authentiCationFailureClass{
  font-size: 16px;
  padding: 0px 10px 25px 38px;
  color:#FC716F;
}
.titleAll{
  font-size: 20px;
  padding: 15px 10px 1px 10px;
  color:#21292E;
}
li{
  list-style-type:none;
}
.xiangqing{
  color: #4E2727;
  font-size: 15px;
  text-decoration: none;
  /*text-align:center    居中不好看*/
}
.left {
  width: 40%;
  display: table-cell;
}

.right {
  width: 50%;
  display: table-cell;
}
